*{
	margin:0px;
	padding:0px;
		
}
body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #000;
	background: #FC8020; 
	font-size: 1em;
	line-height: 1.5em;
    
    padding-top: 80px; /* Relleno superior igual a la altura de la cabecera*/
}
 

#main-header {
	background: #FFC300;
	color: #fff;
	height: 80px;
    
    width: 100%; /* hacemos que la cabecera ocupe el ancho completo de la página */
	left: 0; /* Posicionamos la cabecera al lado izquierdo */
	top: 0; /* Posicionamos la cabecera pegada arriba */
	position: fixed; /* Hacemos que la cabecera tenga una posición fija */
}	
	#main-header a {
		color: #fff;
	}
 
/*
 * Logo
 */
#logo-header {
	top: 5px;
	left: 10%;
	position: absolute;
	
}
#logo-header img{
	border-radius: 20px;
	height: 100px;
}


	
	
 
/*
 * Navegación
 */
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				display: block;
				padding: 0 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					background: #FC8020;
				}
                
.separacion{
	margin-top: 70px;
}               

#nos{
	background: #D94A4A;
}

#main-content {
	
	color: black;
	width: 90%;
	max-width: 800px;
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}
 
	#main-content header,
	#main-content .content {
		padding: 40px;
	}
#main-content h1{
	text-align: center;
}
#main-content h2{
	text-align: justify;
}
#marcas{
	background-color: #FDE5D2;
	color: #000;
}
#marcas h1{
	padding: 30px; 
	text-align: center;
}
#marcas img{
	border-radius: 20px;
}
/**/
#catalogo_t10 li{
	display: inline-block;
	margin-left: 17%;
	margin-top: 20px;
	margin-bottom: 40px;
	border-left-width: 23px;
}
.elem_t10{
	
	width: 45%;
	margin: 0 auto;
}
#catalogo_t10 img{
	width: 100%;
	height: auto;
	}
    
    #main-footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}
	#main-footer p {
		margin: 0;
	}
	
	#main-footer a {
		color: white;
	}
	#contacto{
		
		text-align: center;
		
	}
	#mapa{
		margin-left: 20%;
		width: 60%;
		margin-right: 20%;
		height: 400px;
	}
 /*--------------------------*/
 @media (max-width: 599px) {
  #header .container {
    width: 100%;
  }
  #header h1 {
    padding-left: 3%;
  }
  #nav {
    width: 100%;
    top: 60px;
  }
  #nav:before {
    content: '\2630';
    display: block;
    position: absolute;
    right: 3%;
    top: -50px;
    line-height: 40px;
    font-size: 1.4em;
    cursor: pointer;
  }
  #nav ul {
    background: #222;
    width: 100%;
    margin: 0px;
  }
  #nav ul li {
    float: none;
  }
  #nav ul li a {
    padding: 10px 3%;
    line-height: 20px;
    border-top: 1px solid #333;
  }
}
#video video{
	margin-left: 5%;
	width: 90%;

}